@using ProjectCoffee.Controllers
@model ProjectCoffee.Controllers.UserViewModel

<hr />

<div>
    <p>
        @*<button onclick="Generate_Report_Actions()">Generate Report</button>*@
        @*This will need to be updated if they change the next meeting date*@
        <span id="generate-report-button">Generate the Coffee Orders</span>
        for the meeting @if (ViewBag.CurrentMeeting.Date == DateTime.Now.Date)
        {
            @: today
        }
        else
        {
            @: on @ViewBag.CurrentMeeting.ToString("dddd") (the @ViewBag.ReadableDate of @ViewBag.CurrentMeeting.ToString("MMMM")) <span class="lite">[not recommended]</span>
        }
    </p>
</div>

<div>

    <p>We'll setup the next meeting for <span id="edit-date" class="secret-click">@ViewBag.NextMeeting.ToString("MMMM") @ViewBag.ReadableNextMeeting</span>
    <span id="meeting-container" style="display:none" >
        <input id="meeting" type="date" value="@ViewBag.NextMeeting.ToString("yyyy-MM-dd")" />
        <button id="save-button">Save</button>
    </span>
    </p>
</div>

<hr style="margin-bottom:0px;"/>

<div id="confirm-popup" class="confirm-popup" style="display:none">
    <p>Once you've generated the report, there's no going back. It's all on you now.</p>
    <button id="confirm-button">Show. Me. The. COFFEE.</button>
</div>

<div class="admin_table">
    <table class="coffee_table">
        @*Table Headers*@
        <thead>
        <tr class="coffee_headers">
            <th>Name</th>
            <th>Coffee</th>
            <th>Options</th>
            <th>Is Here</th>
        </tr>
        </thead>
        @*Table Body*@
        <tbody class="coffee_body">
        @foreach (var item in Model.UserList)
        {
            <tr>
                <td class="name">@item.FirstName@if(Model.UserList.Where(i => i.FirstName == item.FirstName).Count() > 1) { <span> @item.LastName.Substring(0,1)</span>}</td>
                <td class="coffee_type">@(item.Drink == null? string.Empty : item.Drink.Name )</td>
                <td class="coffee_options">@item.GetStringCoffeeOptions</td>
                <td class="is_here">@item.WillBeThere</td>
            </tr>
        }
        </tbody>

    </table>
</div>


<script>
    // IF YOU'RE LOOKING FOR THE JAVASCRIPT IT'S IN THE USERPAGE.CSHTML FILE
</script>




