@model List<ProjectCoffee.Models.DatabaseModels.User>

<div class="generate_button">
    <p>
        <button onclick="Generate_Report_Actions()">Generate Report</button>
        for the current Meeting at @ViewBag.CurrentMeeting.ToString("D")
    </p>
</div>

<div class="next_meeting">

    <p>
        The Next Meeting is Set for <input id="meeting" type="date" value="@ViewBag.NextMeeting.ToString("yyyy-MM-dd")" />
    </p>
</div>

<div class="admin_table">
    <table class="coffee_table">
        @*Table Headers*@
        <thead>
        <tr class="coffee_headers">
            <th>Name</th>
            <th>Coffee</th>
            <th>Options</th>
            <th>Is Here</th>
        </tr>
        </thead>
        @*Table Body*@
        <tbody class="coffee_body">
        @foreach (var item in Model)
        {
            <tr>
                <td class="name">@item.FirstName</td>
                <td class="coffee_type">@(item.Drink == null? string.Empty : item.Drink.Name )</td>
                <td class="coffee_options">@item.CoffeeOptions</td>
                <td class="is_here">@item.WillBeThere</td>
            </tr>
        }
        </tbody>

    </table>
</div>

<script>
    function Generate_Report_Actions()
    {
        
        //TODO : Generate the Report
        //TODO : Update the Current Date to the NextMeeting Date
        //TODO : Reset all Users status to being here
    }
    
</script>


